<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ ЖД билетов</title>
</head>
<body>
    <header class="header header--start-page">
        <img src="#" alt="logo" class="logo">
        <nav class="main-navigation">
            <ul>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
            </ul>
        </nav>
        <h1>Сервис заказа ЖД билетов</h1>
        <form class="widget">
            <div class="widget_direction">
                <input type="text" class="widget_from">
                <input type="text" class="widget_to">
            </div>
            <div class="widget_date">
                <input type="text" class="widget_start">
                <input type="text" class="widget_end">
            </div>
            <input type="submit" value="Найти билеты" class="widget_find-button">
        </form>
    </header>
    <main class="main">

    </main>
    <footer class="footer">
        <div class="footer_top">
            <div class="contact">
                <h3 class="contact_call-to-action">Свяжитесь с нами</h3>
                <ul>
                    <li class="contact_phone">8 (800) 000 00 00</li>
                    <li class="contact_email">inbox@mail.ru</li>
                    <li class="contact_skype">ru.train.tickets</li>
                    <li class="contact_address">
                        г. Москва<br>
                        ул. Московская 27-35<br>
                        555 555</li>
                </ul>
            </div>
            <div class="subscription">
                <h3 class="contact_call-to-action">Подписка</h3>
                <p>Будьте в курсе событий</p>
                <form class="subscription_form">
                    <input type="text" placeholder="e-mail" class="subscription_email">
                    <input type="submit" value="Отправить" class="subscription_submit">
                </form>
            </div>
            <div class="social">
                <p class="contact_call-to-action">Подписывайтесь на нас</p>
                <ul>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>

            </div>
        </div>
        <div class="footer_bottom">
            <img src="#" alt="logo" class="logo">
            <button class="to-top">Наверх</button>
            <p class="copyright">2018 WEB</p>
        </div>
    </footer>
</body>
</html>