<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ ЖД билетов</title>
</head>
<body>
    <header class="header header--start-page">
        <img src="#" alt="logo" class="logo">
        <nav class="main-navigation">
            <ul>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
            </ul>
        </nav>
        <h1>Сервис заказа ЖД билетов</h1>
        <form class="widget">
            <div class="widget_direction">
                <input type="text" class="widget_from">
                <input type="text" class="widget_to">
            </div>
            <div class="widget_date">
                <input type="text" class="widget_start">
                <input type="text" class="widget_end">
            </div>
            <input type="submit" value="Найти билеты" class="widget_find-button">
        </form>
    </header>
</body>
</html>