<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказ ЖД билетов</title>
</head>
<body>
    <header class="header header--start-page">
        <img src="#" alt="logo" class="logo">
        <nav class="main-navigation">
            <ul>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
                <li class="main-navigation_item"><a href="#" class="main-navigation_link"></a></li>
            </ul>
        </nav>
        <h1>Сервис заказа ЖД билетов</h1>
        <form class="widget">
            <div class="widget_direction">
                <input type="text" class="widget_from">
                <input type="text" class="widget_to">
            </div>
            <div class="widget_date">
                <input type="text" class="widget_start">
                <input type="text" class="widget_end">
            </div>
            <input type="submit" value="Найти билеты" class="widget_find-button">
        </form>
    </header>
    <main class="main">
        <section class="about">
            <h2 class="h2">О нас</h2>
            <p>Мы рады видеть вас! Мы рботаем для Вас с 2003 года. 14 лет мы наблюдаем, как с каждым днем все больше людей заказывают жд билеты через интернет.</p> 
            <p>Сегодня можно заказать железнодорожные билеты онлайн всего в 2 клика, но стоит ли это делать? Мы расскажем о преимуществах заказа через интернет.</p> 
            <p><strong>Покупать жд билеты дешево можно за 90 суток до отправления поезда. Благодаря динамическому ценообразованию цена на билеты в это время самая низкая.</strong></p>
        </section>
        <section class="features">
            <h2 class="h2">Как это работает</h2>
            <ul>
                <li>Удобный заказ на сайте</li>
                <li>Нет необходимости ехать в офис</li>
                <li>Огромный выбор направлений</li>
                <button>Узнать больше</button>
            </ul>
        </section>
        <section class="reviews">
            <h2 class="h2">Отзывы</h2>
            <ul>
                <li>
                    <img src="#" alt="Екатерина Вальнова">
                    <blockquote>
                        <cite>Екатерина Вальнова</cite>
                        <p>Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Евгений Стрыкало">
                    <blockquote>
                        <cite>Евгений Стрыкало</cite>
                        <p>СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Екатерина Вальнова">
                    <blockquote>
                        <cite>Екатерина Вальнова</cite>
                        <p>Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Евгений Стрыкало">
                    <blockquote>
                        <cite>Евгений Стрыкало</cite>
                        <p>СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Екатерина Вальнова">
                    <blockquote>
                        <cite>Екатерина Вальнова</cite>
                        <p>Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Евгений Стрыкало">
                    <blockquote>
                        <cite>Евгений Стрыкало</cite>
                        <p>СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Екатерина Вальнова">
                    <blockquote>
                        <cite>Екатерина Вальнова</cite>
                        <p>Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Евгений Стрыкало">
                    <blockquote>
                        <cite>Евгений Стрыкало</cite>
                        <p>СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Екатерина Вальнова">
                    <blockquote>
                        <cite>Екатерина Вальнова</cite>
                        <p>Доброжелательные подсказки на всех этапах помогут правильно заполнить поля и без затруднений купить авиа или ж/д билет, даже если вы заказываете онлайн билет впервые.</p>
                    </blockquote>
                </li>
                <li>
                    <img src="#" alt="Евгений Стрыкало">
                    <blockquote>
                        <cite>Евгений Стрыкало</cite>
                        <p>СМС-сопровождение до посадки Сразу после оплаты ж/д билетов и за 3 часа до отправления мы пришлем вам СМС-напоминание о поездке.</p>
                    </blockquote>
                </li>
            </ul>
        </section>
    </main>
    <footer class="footer">
        <div class="footer_top">
            <div class="contact">
                <h3 class="contact_call-to-action">Свяжитесь с нами</h3>
                <ul>
                    <li class="contact_phone">8 (800) 000 00 00</li>
                    <li class="contact_email">inbox@mail.ru</li>
                    <li class="contact_skype">ru.train.tickets</li>
                    <li class="contact_address">
                        г. Москва<br>
                        ул. Московская 27-35<br>
                        555 555</li>
                </ul>
            </div>
            <div class="subscription">
                <h3 class="contact_call-to-action">Подписка</h3>
                <p>Будьте в курсе событий</p>
                <form class="subscription_form">
                    <input type="text" placeholder="e-mail" class="subscription_email">
                    <input type="submit" value="Отправить" class="subscription_submit">
                </form>
            </div>
            <div class="social">
                <p class="contact_call-to-action">Подписывайтесь на нас</p>
                <ul>
                    <li><a href="#">Youtube</a></li>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Google+</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>

            </div>
        </div>
        <div class="footer_bottom">
            <img src="#" alt="logo" class="logo">
            <button class="to-top">Наверх</button>
            <p class="copyright">2018 WEB</p>
        </div>
    </footer>
</body>
</html>